# EECS 3401 TEAM 7 FINAL PROJECT

Authors: Leroy Musa, Chan Woo Hwang, Gordon Hamilton, Joaquin Philco

In [4]:
!pip install opendatasets
!pip install pandas
!pip install seaborn
!pip install scikit-plot==0.3.7
!pip install numpy

import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sns
import seaborn as sb

^C
Requirement already satisfied: opendatasets in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from opendatasets) (4.66.2)
Requirement already satisfied: kaggle in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from opendatasets) (1.6.6)
Requirement already satisfied: click in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (2023.11.17)
Requirement already satisfied: python-dateutil in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (2.1.0)
Requirement already satisfied: bleach in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle->opendatasets) (3.6)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (2.2.1)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: seaborn in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-plot==0.3.7 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (0.3.7)
Requirement already satisfied: matplotlib>=1.4.0 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from scikit-plot==0.3.7) (3.8.3)
Requirement already satisfied: scikit-learn>=0.18 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from scikit-plot==0.3.7) (1.4.1.post1)
Requirement already satisfied: scipy>=0.9 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from scikit-plot==0.3.7) (1.12.0)
Requirement already satisfied: joblib>=0.10 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from scikit-plot==0.3.7) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=1.4.0->scikit-plot==0.3.7) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=1.4.0->scikit-plot==0.3.7) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=1.4.0->scikit-plot==0.3.7) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=1.4.0->scikit-plot==0.3.7) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=1.4.0->scikit-plot==0.3.7) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=1.4.0->scikit-plot==0.3.7) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=1.4.0->scikit-plot==0.3.7) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=1.4.0->scikit-plot==0.3.7) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=1.4.0->scikit-plot==0.3.7) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=0.18->scikit-plot==0.3.7) (3.3.0)
Requirement already satisfied: six>=1.5 in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib>=1.4.0->scikit-plot==0.3.7) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\musal\appdata\local\programs\python\python312\lib\site-packages (1.26.4)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
data.sum()

Unnamed: 0                                              7848868476
property_type    FlatFlatHouseHouseHouseFlatPenthouseFlatFlatFl...
price                                                1032393613930
location         G-10E-11G-15Bani GalaDHA DefenceE-11F-11Diplom...
city             IslamabadIslamabadIslamabadIslamabadIslamabadI...
baths                                                       351242
purpose          For SaleFor SaleFor SaleFor SaleFor SaleFor Sa...
bedrooms                                                    333395
Area_in_Marla                                             871360.4
dtype: object

In [5]:
# Given the datasets url, load in the csv file using pandas.

url = "https://raw.githubusercontent.com/leroymusa/EECS3401-Final-Project/main/house_prices.csv"
data = pd.read_csv(url)

data_backup = data # Create a backup just in case
data

,Unnamed: 0,property_type,price,location,city,baths,purpose,bedrooms,Area_in_Marla
0,0,Flat,10000000,G-10,Islamabad,2,For Sale,2,4.0
1,1,Flat,6900000,E-11,Islamabad,3,For Sale,3,5.6
2,2,House,16500000,G-15,Islamabad,6,For Sale,5,8.0
3,3,House,43500000,Bani Gala,Islamabad,4,For Sale,4,40.0
4,4,House,7000000,DHA Defence,Islamabad,3,For Sale,3,8.0
...,...,...,...,...,...,...,...,...,...
99494,168435,Flat,7500000,Bahria Town Karachi,Karachi,3,For Sale,3,8.0
99495,168436,House,8800000,Bahria Town Karachi,Karachi,4,For Sale,3,8.0
99496,168438,House,14000000,Bahria Town Karachi,Karachi,3,For Sale,3,8.0
99497,168439,House,14000000,Bahria Town Karachi,Karachi,4,For Sale,4,14.0
99498,168445,House,9000000,Bahria Town Karachi,Karachi,3,For Sale,3,9.4

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99499 entries, 0 to 99498
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     99499 non-null  int64
 1   property_type  99499 non-null  object
 2   price          99499 non-null  int64
 3   location       99499 non-null  object
 4   city           99499 non-null  object
 5   baths          99499 non-null  int64
 6   purpose        99499 non-null  object
 7   bedrooms       99499 non-null  int64
 8   Area_in_Marla  99499 non-null  float64
dtypes: float64(1), int64(4), object(4)
memory usage: 6.8+ MB

In [7]:
data.head()

,Unnamed: 0,property_type,price,location,city,baths,purpose,bedrooms,Area_in_Marla
0,0,Flat,10000000,G-10,Islamabad,2,For Sale,2,4.0
1,1,Flat,6900000,E-11,Islamabad,3,For Sale,3,5.6
2,2,House,16500000,G-15,Islamabad,6,For Sale,5,8.0
3,3,House,43500000,Bani Gala,Islamabad,4,For Sale,4,40.0
4,4,House,7000000,DHA Defence,Islamabad,3,For Sale,3,8.0

In [8]:
data.describe()

          Unnamed: 0         price         baths      bedrooms  Area_in_Marla
count   99499.000000  9.949900e+04  99499.000000  99499.000000   99499.000000
mean    78883.893064  1.037592e+07      3.530106      3.350737       8.757479
std     48239.423663  1.066000e+07      1.474217      1.255913       7.466471
min         0.000000  1.550000e+04      1.000000      0.000000       0.000000
25%     37236.500000  1.500000e+05      2.000000      2.000000       4.800000
50%     76065.000000  7.500000e+06      3.000000      3.000000       6.700000
75%    119401.500000  1.550000e+07      5.000000      4.000000      10.000000
max    168445.000000  4.490000e+07      7.000000      6.000000     194.000000

In [10]:
data.isna().sum()

Unnamed: 0       0
property_type    0
price            0
location         0
city             0
baths            0
purpose          0
bedrooms         0
Area_in_Marla    0
dtype: int64